{% include "header.html" %}
<div class="centering">
  <div class="column">
    <div class="centering">
      <img src="/static/img/minecraft-creeper.png">
    </div>

    <div class="hcenter">
      Версия: <span class="version">1.12.2</span>
    </div>

    <div class="vspan hcenter">
      <ul>
        <li>Сервер:<ul><br/>
          <li>188.244.4.78:25565 или kubach.day:25565 - IC<sup>2</sup> сервер</li>
        </ul></li>
      </ul>
    </div>

    <div class="vspan hcenter">
      <ul>
        <li><a href="{{thread}}">Официальный тред</a></li><br><br>
        <li><a href="https://t.me/aerospace_server">Тележный канал</a></li><br><br>
        <li>Лаунчер:<ul><br>
          <li>Windows <span class="new">new!</span> <b><a href="/static/launcher-windows.zip">LAUNCHER IC<sup>2</sup></a></b><br>
            Распаковываем и вызываем через cmd.exe:
            <code>
              koprolaunch-cli register<br>
              koprolaunch-cli<br>
            </code>
          </li>
          <li>Linux из исходников с помощью <a href="https://nixos.org/">nix</a>:<br>
            <code>
              nix-env -i -f https://gitlab.com/existonce/kopro-auth/-/archive/master/kopro-auth-master.tar.gz<br>
              koprolaunch-cli register<br>
              koprolaunch-cli<br>
            </code>
          </li>
          <li>
            <ul>
              <li>MacOS <span class="new">платформа M1</span> <b><a href="/static/launcher-mac-m1.zip">LAUNCHER M1</a></b><br></li>
              <li>MacOS <span class="new">платформа Intel</span> <b><a href="/static/launcher-mac-intel.zip">LAUNCHER INTEL</a></b><br></li>
            </ul>
            Перетаскиваем скаченный бандл в Applications и в терминале выполняем:
            <code>
              xattr -cr /Applications/Koprokubach.app<br>
              cd /Applications/Koprokubach.app/Contents/MacOS<br>
              ./koprolaunch-cli register<br>
              ./koprolaunch-cli<br>
            </code>
          </li>
          <li>MacOS из исходников (если не доверяете моим бинарям). Поставьте rustup и homebrew, после этого:
            <code>
              git clone https://gitlab.com/existonce/kopro-auth.git<br>
              cd kopro-auth<br>
              ./macos.sh<br>
              cargo run --release --bin koprolaunch-cli<br>
            </code>
          </li>
        </ul></li>
      </ul>
    </div>

    <div class="vspan hcenter">
      <ul>
        <li>[ <a href="https://github.com/LemADEC/WarpDrive/wiki">Вики-страницы по WarpDrive</a> ]</li><br>
        <li>[ <a href="/guide">(OLD) ГАЙД ПО ВАРПДРАЙВУ &copy;pm2d</a> ]</li><br>
      </ul>
    </div>

  </div>
</div>
{% include "footer.html" %}
