body {
    height: 100%;
}

.centering {
  width:100%;
  display: flex;
  justify-content: center;
}

.column {
  flex-direction: column;
}

.version {
  color: green;
  font-weight: bold;
}

.hcenter {
  text-align: center;
}

.vspan {
  margin-top: 30px;
}

.new {
  color: red;
}

code {
  text-align: left;
  display: block;
  padding: 20px;
  display: block;
}
